{% extends 'MmiBlogBundle::layout.html.twig' %}

{% block content_content %}

<h1>Liste des articles recherchés</h1>

{% if articles %}

{% for article in articles %}

<h4>
	<a href="{{ url('blog_article_read', { id: article.id }) }}">
    	{{ article.title | raw }}
    </a>
</h4>

{% endfor %}

{% else %}

<h3>Pas d'article correspondant à votre recherche.</h3>

{% endif %}

{% endblock %}