{% extends 'MmiBlogBundle::layout.html.twig' %}

{% set memos = app.session.get('memos') %}

{% block content_content %}

{% for index, memo in memos %}
    <div class="alert alert-info" role="alert">
        {{ memo.message }}
        <a href="{{ url('blog_memo_delete', {index: index}) }}" class="close" aria-label="Close" ><span aria-hidden="true">&times;</span></a>
    </div>
{% endfor %}

<a href="{{ url('blog_memo_delete_all') }}" class="btn btn-primary" role="button">Supprimer tous les mémos</a>

{% endblock %}